
#colum1{
    background-color: #4d4d50;
}


#colum1>p,ul{
    margin-left: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

#colum1>ul{
    margin-left: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#colum2{
    background-color: white;
    font-size: medium;
}

#colum2>p,ul{
    margin-left: 20px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

#titulonombre,#tituloprof{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sobremi,#explab{
    background-color: #c1c2c4;
    padding: 20px;
}

#imgperfil {
    width: 180px;
    border-radius: 50%;
    border: 5px solid #c1c2c4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50%
}

#myfooter{
    background-color: rgba(211, 211, 211, 0.877);
}

#pcontacto{
    margin-top: 30px;
}